.group-icon80 {
  position: absolute;
  height: 50.51%;
  width: 5.21%;
  top: 27.78%;
  right: 94.79%;
  bottom: 21.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon81,
.group-icon82,
.group-icon83,
.group-icon84,
.group-icon85 {
  position: absolute;
  height: 26.26%;
  width: 8.51%;
  top: 36.36%;
  right: 81.77%;
  bottom: 37.37%;
  left: 9.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon82,
.group-icon83,
.group-icon84,
.group-icon85 {
  height: 50.51%;
  width: 6.19%;
  top: 27.78%;
  right: 70.89%;
  bottom: 21.72%;
  left: 22.92%;
}
.group-icon83,
.group-icon84,
.group-icon85 {
  height: 34.85%;
  width: 1.74%;
  top: 0;
  right: 67.71%;
  bottom: 65.15%;
  left: 30.56%;
}
.group-icon84,
.group-icon85 {
  height: 67.11%;
  width: 100%;
  top: 32.89%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-icon85 {
  height: 24.16%;
  width: 57.01%;
  top: 0;
  right: 14.02%;
  bottom: 75.84%;
  left: 28.97%;
}
.group-icon86,
.group49 {
  position: absolute;
  height: 75.25%;
  width: 6.19%;
  top: 3.03%;
  right: 60.07%;
  bottom: 21.72%;
  left: 33.74%;
}
.group-icon86 {
  height: 34.85%;
  width: 1.74%;
  top: 0;
  right: 56.83%;
  bottom: 65.15%;
  left: 41.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon87,
.group-icon88,
.group-icon89,
.group-icon90,
.group-icon91 {
  position: absolute;
  height: 74.24%;
  width: 8.51%;
  top: 12.12%;
  right: 46.64%;
  bottom: 13.64%;
  left: 44.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon88,
.group-icon89,
.group-icon90,
.group-icon91 {
  height: 72.22%;
  width: 6.08%;
  top: 27.78%;
  right: 39.58%;
  bottom: 0;
  left: 54.34%;
}
.group-icon89,
.group-icon90,
.group-icon91 {
  height: 34.85%;
  width: 1.74%;
  top: 0;
  right: 37.15%;
  bottom: 65.15%;
  left: 61.11%;
}
.group-icon90,
.group-icon91 {
  height: 74.48%;
  width: 100%;
  top: 25.52%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-icon91 {
  height: 18.75%;
  width: 58.1%;
  top: 0;
  right: 11.43%;
  bottom: 81.25%;
  left: 30.48%;
}
.group51 {
  position: absolute;
  height: 96.97%;
  width: 6.08%;
  top: 3.03%;
  right: 29.75%;
  bottom: 0;
  left: 64.18%;
}
.group-icon92,
.group-icon93,
.group-icon94,
.group-icon96 {
  position: absolute;
  height: 34.85%;
  width: 1.74%;
  top: 0;
  right: 26.5%;
  bottom: 65.15%;
  left: 71.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon93,
.group-icon94,
.group-icon96 {
  height: 74.24%;
  width: 8.51%;
  top: 12.12%;
  right: 16.26%;
  bottom: 13.64%;
  left: 75.23%;
}
.group-icon94,
.group-icon96 {
  height: 50.51%;
  width: 5.5%;
  top: 27.78%;
  right: 9.61%;
  bottom: 21.72%;
  left: 84.9%;
}
.group-icon96 {
  height: 24.16%;
  width: 64.21%;
  top: 0;
  right: 9.47%;
  bottom: 75.84%;
  left: 26.32%;
}
.group-icon97,
.group53 {
  position: absolute;
  height: 75.25%;
  width: 5.5%;
  top: 3.03%;
  right: 3.47%;
  bottom: 21.72%;
  left: 91.03%;
}
.group-icon97 {
  height: 34.85%;
  width: 1.74%;
  top: 0;
  right: 0;
  bottom: 65.15%;
  left: 98.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group47,
.group48 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group47 {
  height: 92.52%;
  width: 98.74%;
  top: 100%;
  right: 0.97%;
  bottom: -92.52%;
  left: 0.29%;
}
.frame8 {
  width: 100%;
  position: relative;
  height: 21.4px;
  overflow: hidden;
}
